version: '3.8' # Docker Compose 버전

services:
  # 서비스 이름 (자유롭게 지정)
  mysql-db:
    image: mysql:8.0 # 사용할 MySQL 이미지 (8.0 버전 권장)
    container_name: my-mysql-container2 # 컨테이너 이름

    # 컨테이너가 재시작되어도 데이터를 보존하기 위한 설정 (중요)
    volumes:
      - mysql-data:/var/lib/mysql

    # MySQL 설정 (환경 변수)
    environment:
      MYSQL_ROOT_PASSWORD: 'rootpassword' # 루트 계정 비밀번호
      MYSQL_DATABASE: 'yt-shortener'          # Spring Boot가 사용할 데이터베이스 이름
      MYSQL_USER: 'user'               # Spring Boot가 사용할 계정
      MYSQL_PASSWORD: 'password'       # 계정 비밀번호

    # 포트 매핑 (내 PC:컨테이너)
    # 내 PC의 3306 포트와 컨테이너의 3306 포트를 연결
    ports:
      - '3310:3306'

    # (선택) MySQL Timezone 및 UTF-8 설정
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
#      - --default-time-zone=Asia/Seoul

# Docker가 관리하는 볼륨 (데이터 영속성)
volumes:
  mysql-data: